@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* fonts */
    --font-dark: #0A0A0A;
    --font-dark-2: #666666;
    --font-dark-3: #999999;
    --font-light: #fff;
}

.dark-font {
    color: var(--font-dark);
}

.dark-font-2 {
    color: var(--font-dark-2);
}

.dark-font-3 {
    color: var(--font-dark-3);
}

/* GLOBAL */
a {
    text-decoration: none;
}

/* Hover effects */
.nav-links a,
.mobile-menu a,
.footer-links a {
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: #0A0A0A;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 80%;
}

.footer-links a::after {
    background: #fff;
}