@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    /* fonts */
    --font-dark: #0A0A0A;
    --font-dark-2: #666666;
    --font-dark-3: #999999;
    --font-dark-4: rgba(153, 153, 153, 0.25);
    --font-light: #fff;
    --font-inter: var(--font-inter);
    --font-funnel: var(--font-funnel);
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F5F5F5;
}

/* FONT COLORS */
.dark-font {
    color: var(--font-dark);
}

.dark-font-2 {
    color: var(--font-dark-2);
}

.dark-font-3 {
    color: var(--font-dark-3);
}

.dark-font-4 {
    color: var(--font-dark-4);
}
.light-font {
    color: var(--font-light);
}

/* FONT FAMILY */
.funnel-font {
    font-family: var(--font-funnel);
}

.inter-font {
    font-family: var(--font-inter);
}

/* CUSTOMIZED STYLE */
.big-font {
    color: var(--font-dark);
    font-weight: 500;
    font-size: 24px;
    font-family: var(--font-funnel);
}

/* DIVIDER */
.hr-divider {
    border-top: 1px solid var(--font-dark-4);
    margin-block: 20px;
}

.gradient-overlay {
    text-align: center;
    margin-bottom: 30px;
    background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CAPSULE BUTTONS */
.capsule-btns-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.capsule-btn {
    border: 1px solid var(--font-dark-4);
    color: var(--font-dark-2);
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 50px;
}

/* ROUND BUTTONS */
.round-btn {
    color: var(--font-light);
    background-color: var(--font-dark);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: 600;
}

/* CARDS */
.white-card {
    background: var(--font-light);
    padding: 20px;
    border-radius: 20px;
    font-family: var(--font-inter);
}

.black-card {
    background: var(--font-dark);
    padding: 20px;
    border-radius: 20px;
    font-family: var(--font-inter);
}

/* GLOBAL */
h2,
h3 {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 20px;
    color: var(--font-dark);
}

a {
    text-decoration: none;
}

section {
    margin: 20px;
    margin-block: 40px;
}

.services-heading,
.footer-heading {
    font-size: 3rem;
    font-weight: 600;
    line-height: 0.8;
}

/* Hover effects */
.nav-links a,
.mobile-menu a,
.footer-links a {
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: #0A0A0A;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 80%;
}

.footer-links a::after {
    background: #fff;
}

/********** RESPONSIVE DESIGN **********/
/* Tablet */
@media (min-width: 768px) {
    .section-sm {
        padding-inline: 50px;
    }
}